
         <h1> Codeial / <%= title %> </h1>
        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Enter what's in your mind"></textarea>
                <input type="submit" value="post">
            </form>

            <div id="posts-list-container">
                <ul style="text-decoration: none;">
                    <% for(post of posts) {%> 
                        <li>
                            <%= post.user.Name %><br>
                            <%= post.content %>
                        </li>
                    <% }%>
                </ul>
            </div>
        </section>