        <link rel="stylesheet" href="/css/home.css">
        <div id="home-container">
            <section id="feed-posts">
                <h4>Posts</h4>
                <% if(locals.user) { %>
                <form action="/post/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Enter what's in your mind"></textarea>
                    <input type="submit" value="post">
                </form>
                 <%}%>
                <div id="posts-list-container">
                    <ul style="text-decoration: none;">
                        <% for(post of posts) {%> 
                           <%- include('_posts') -%>
                        <% }%>
                    </ul>
                </div>
            </section>
            <section id="user-friends">
                <h4>Friends</h4>
                <div id="friends-list">
                <% for( u of all_users) {%>
                    <a href="/users/profile/<%= u.id%>"><%= u.Name %></a><br>
                <% } %>
            </div>
            </section>
        </div>
        